/* Make sure the footer stays at the bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Candara';
}


header {
    background-color: #01529A;
    margin-top: auto;
    height: 130px;
    display: flex;
    justify-content: center;
    /* Horizontally centers the text */
    align-items: center;
    /* Vertically centers the text */
    font-family: 'Candara';
}

footer {
    background-color: #1a1a5b;
    margin-top: auto;
    height: 50px;
}

.login-page {
    background: radial-gradient(circle, rgba(0,212,255,1) 16%, rgba(9,28,121,0.6306897759103641) 48%, rgba(8,23,97,0.9360119047619048) 91%);
}

.login-page-inner{
    background: radial-gradient(circle, rgba(0,212,255,1) 30%, rgba(9,28,121,0.6306897759103641) 61%);
}

.login-page-font{
    font-family: 'Candara';
}

.register-page-font{
    font-family: 'Candara';
    color: white;
}

.site-font{
    font-family: 'Candara';
}

/* Add this to your styles.css */
.card-body {
    padding: 20px; /* Adjust padding as needed */
    margin: 0; /* Ensure there’s no extra margin */
}

.container {
    max-width: 100%; /* Ensure full width */
}

/* Ensure flex layout in container */
.container-fluid {
    display: flex;
    height: 100vh;
}

.container-fluid .p-3 {
    flex-grow: 1;
}

h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add space below the heading */
}

/* Added CSS Code for Login Page */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }


/* Styling the layout for responsiveness */
#nav {
    background-color: #170d54;
    min-height: 100vh;        /* Full height of the viewport */
}

#main {
    background-color: #43464adb;
    padding: 15px;
    overflow-x: auto;          /* Prevent horizontal overflow */
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #1a4b88;
    color: #52636f;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-family: 'Candara';
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}

#nav li:hover {
    background-color: #865426;
}



#main,
#nav,
#aside {
    margin-bottom: 50px;
    /* Same height as footer */
}


.container>.card>.card-body {
    background-color: #01529A;
    /* Your desired background color */
}


#aside {
    background-color: #01529A;
}

/* Responsive grid for larger screens */
@media (min-width: 992px) {
    #nav {
        width: 20%;
    }

    #main {
        width: 55%;
    }

    #aside {
        width: 25%;
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
    }
}

/* Tablet screen adjustments */
@media (min-width: 768px) and (max-width: 991px) {
    #nav {
        width: 25%;
    }

    #main {
        width: 75%;
    }


    .container {
        width: 70%;
    }


    #aside {
        width: 100%;
        margin-top: 15px;
    }
}

/* Mobile adjustments */
@media (max-width: 767px) {

    #nav,
    #main,
    #aside {
        width: 100%;
        margin-top: 15px;
    }
}